body, p, h1, h2, h4, h5, h6, h3, ul, ol, dl, td, dd, input, textarea, option, hr, button, fieldset, legend, figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #666;
}

a:link {
  color: #666;
}

a:hover {
  color: #333;
}

li {
  list-style: none;
}

body {
  font: 14px "YaHei";
}

img {
  vertical-align: top;
  /*display:block;*/
  border: none;
}

input, area {
  outline: none;
}

i, em {
  font-style: normal;
}

h1, h2, h4, h5, h6, h3, b, strong {
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

.clear:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.border0 {
  border: none !important;
  background: none !important;
}

input::-webkit-input-placeholder {
  color: #aab2bd;
  font-size: 14px;
  padding-left: 10px;
}

body {
  background-color: #ededed;
}

.nav-global {
  background-image: -webkit-gradient(linear, left top, right top, from(#222325), color-stop(#3b3c3f), to(#222325));
  background-image: linear-gradient(90deg, #222325, #3b3c3f, #222325);
  height: 37px;
}

.nav-global .nav-logo {
  width: 18px;
  height: 18px;
  background: url(../img/logo.557a1159a7b50cad819b869ebbe5051a.png);
  background-size: 18px 18px;
  top: 10px;
  left: 20px;
  float: left;
  margin-top: 10px;
  cursor: pointer;
}

.nav-global .nav {
  width: 1220px;
  height: 37px;
  margin: 0 auto;
}

.nav-global .nav ul {
  width: 1220px;
  height: 37px;
  clear: both;
}

.nav-global .nav ul li {
  display: inline;
  float: left;
  padding: 0 20px;
  text-align: center;
  font-weight: 600;
  color: #e5e5e5;
  margin-top: -19px;
  margin-left: 30px;
}

.nav-global .right {
  width: 100px;
  height: 37px;
  float: right;
  margin-top: -37px;
}

.nav-global .right .person {
  width: 50px;
  height: 37px;
  overflow: hidden;
  float: left;
  cursor: pointer;
}

.nav-global .right .person img {
  margin-top: 10px;
  margin-left: 15px;
}

.nav-global .right .cart {
  width: 50px;
  height: 37px;
  float: right;
  overflow: hidden;
  cursor: pointer;
}

.nav-global .right .cart img {
  margin-top: 10px;
  margin-left: 15px;
}

.big_box {
  width: 1220px;
  height: 271px;
  margin: 50px auto;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
}

.big_box .head {
  width: 1220px;
  height: 50px;
  border-radius: 8px 8px 0 0;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  margin: 0 auto;
}

.big_box .head p {
  font-size: 18px;
  color: #626262;
  line-height: 50px;
  margin-left: 50px;
  font-weight: 700;
}

.big_box .address {
  width: 1220px;
  height: 221px;
  border-radius: 0 0 8px 8px;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
}

.big_box .address .choose {
  width: 276px;
  height: 158px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  line-height: 14px;
  color: #626262;
  cursor: pointer;
  background-color: #e8e8e8;
  margin-top: 30px;
  margin-left: 30px;
}

.big_box .address .choose .p1 {
  display: block;
  color: #626262;
  font-size: 24px;
  margin-top: 50px;
  text-indent: 130px;
}

.big_box .address .choose .p2 {
  display: block;
  color: #999;
  margin-top: 40px;
  font-size: 24px;
  text-indent: 80px;
}

.shadow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 251;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
}

.shadow .center1 {
  width: 306px;
  height: 465px;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0 auto;
  min-width: 200px;
  border-radius: 9px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.shadow .center1 .head {
  width: 306px;
  height: 48px;
  border-radius: 9px 9px 0 0;
  background: #e8e8e8;
}

.shadow .center1 .head h4 {
  font-size: 18px;
  font-weight: 700;
  color: #646464;
  line-height: 48px;
  text-align: center;
}

.shadow .center1 .foot {
  width: 306px;
  height: 414px;
  position: relative;
}

.shadow .center1 .foot .one {
  width: 265px;
  height: 35px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 3px 5px -4px rgba(0, 0, 0, 0.4), inset -1px 0 3px -2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 3px 5px -4px rgba(0, 0, 0, 0.4), inset -1px 0 3px -2px rgba(0, 0, 0, 0.1);
  line-height: 32px;
  font-size: 14px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.shadow .center1 .foot .one #name {
  width: 100%;
  height: 100%;
  border: none;
}

.shadow .center1 .foot .two {
  position: relative;
  width: 265px;
  height: 35px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 3px 5px -4px rgba(0, 0, 0, 0.4), inset -1px 0 3px -2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 3px 5px -4px rgba(0, 0, 0, 0.4), inset -1px 0 3px -2px rgba(0, 0, 0, 0.1);
  line-height: 32px;
  font-size: 14px;
  position: absolute;
  top: 70px;
  left: 20px;
}

.shadow .center1 .foot .two #tel {
  width: 100%;
  height: 100%;
  border: none;
}

.shadow .center1 .foot .three {
  position: relative;
  width: 265px;
  height: 36px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 3px 5px -4px rgba(0, 0, 0, 0.4), inset -1px 0 3px -2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 3px 5px -4px rgba(0, 0, 0, 0.4), inset -1px 0 3px -2px rgba(0, 0, 0, 0.1);
  line-height: 32px;
  font-size: 14px;
  position: absolute;
  top: 120px;
  left: 20px;
}

.shadow .center1 .foot .three input {
  width: 100%;
  height: 100%;
  border: none;
}

.shadow .center1 .foot .four {
  position: relative;
  width: 265px;
  height: 37px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 3px 5px -4px rgba(0, 0, 0, 0.4), inset -1px 0 3px -2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 3px 5px -4px rgba(0, 0, 0, 0.4), inset -1px 0 3px -2px rgba(0, 0, 0, 0.1);
  line-height: 32px;
  font-size: 14px;
  position: absolute;
  top: 170px;
  left: 20px;
}

.shadow .center1 .foot .four input {
  width: 100%;
  height: 100%;
  border: none;
}

.shadow .center1 .foot #prov {
  display: block;
  width: 265px;
  height: 30px;
  position: absolute;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 3px 5px -4px rgba(0, 0, 0, 0.4), inset -1px 0 3px -2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 3px 5px -4px rgba(0, 0, 0, 0.4), inset -1px 0 3px -2px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  position: absolute;
  top: 220px;
  left: 20px;
}

.shadow .center1 .foot #city {
  display: block;
  width: 265px;
  height: 30px;
  position: absolute;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 3px 5px -4px rgba(0, 0, 0, 0.4), inset -1px 0 3px -2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 3px 5px -4px rgba(0, 0, 0, 0.4), inset -1px 0 3px -2px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  position: absolute;
  top: 260px;
  left: 20px;
}

.shadow .center1 .foot #country {
  display: block;
  width: 265px;
  height: 30px;
  position: absolute;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 3px 5px -4px rgba(0, 0, 0, 0.4), inset -1px 0 3px -2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 3px 5px -4px rgba(0, 0, 0, 0.4), inset -1px 0 3px -2px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  position: absolute;
  top: 300px;
  left: 20px;
}

.shadow .center1 .foot .down {
  width: 305px;
  height: 50px;
  background: #e8e8e8;
  position: absolute;
  bottom: 0;
}

.shadow .center1 .foot .down .cancel {
  width: 140px;
  height: 30px;
  border-radius: 6px;
  font-size: 12px;
  color: #646464;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
  background-image: linear-gradient(#f8f8f8, #f2f2f2);
  border: 1px solid #d7d7d7;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}

.shadow .center1 .foot .down .save {
  width: 140px;
  height: 30px;
  border-radius: 6px;
  font-size: 12px;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6e98f4), to(#4b77ee));
  background-image: linear-gradient(#6e98f4, #4b77ee);
  border: 1px solid #6586e4;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 158px;
}

.footer {
  height: 440px;
  background: #fff;
  bottom: 0;
  margin-top: 50px;
  border-top: 1px solid gray;
}

.footer .center {
  height: 440px;
  width: 1220px;
  margin: 0 auto;
}

.footer .center .top {
  width: 1220px;
  height: 224px;
  overflow: hidden;
  margin-top: 50px;
}

.footer .center .top .box1 {
  width: 174px;
  float: left;
}

.footer .center .top .box1 h3 {
  color: #646464;
  font-weight: 700;
  font-size: 12px;
  padding: 0 0 20px;
}

.footer .center .top .box1 a {
  font-size: 12px;
}

.footer .center .top .box2 {
  width: 174px;
  float: left;
}

.footer .center .top .box2 h3 {
  color: #646464;
  font-weight: 700;
  font-size: 12px;
  padding: 0 0 20px;
}

.footer .center .top .box2 a {
  font-size: 12px;
}

.footer .center .top .box3 {
  width: 174px;
  float: left;
}

.footer .center .top .box3 h3 {
  color: #646464;
  font-weight: 700;
  font-size: 12px;
  padding: 0 0 20px;
}

.footer .center .top .box3 a {
  font-size: 12px;
}

.footer .center .top .box4 {
  width: 174px;
  float: left;
}

.footer .center .top .box4 h3 {
  color: #646464;
  font-weight: 700;
  font-size: 12px;
  padding: 0 0 20px;
}

.footer .center .top .box4 a {
  font-size: 12px;
}

.footer .center .top .box5 {
  width: 196px;
  float: right;
}

.footer .center .top .box5 .head {
  font-size: 24px;
  text-indent: 6px;
}

.footer .center .top .box5 .text1 {
  text-indent: 67px;
  font-size: 11px;
}

.footer .center .top .box5 .text2 {
  text-indent: 128px;
  font-size: 11px;
}

.footer .center .top .box5 .help {
  width: 130px;
  height: 30px;
  background: #f5f5f5;
  border: 1px solid gray;
  border-radius: 3px;
  line-height: 30px;
  text-align: center;
  float: right;
}

.footer .center .down {
  width: 1220px;
  height: 130px;
  border-top: 1px solid gray;
}

.footer .center .down p {
  margin-top: 50px;
  font-size: 12px;
  font-weight: 400;
  color: #bdbdbd;
}
/*# sourceMappingURL=address.css.map */