.clear:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input::-webkit-input-placeholder {
  color: #aab2bd;
  font-size: 12px;
  padding-left: 10px;
}

body {
  background: url(../img/bg.png);
  height: 850px;
}

.box {
  width: 450px;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
  display: block;
  margin-top: -324px;
  border: 1px solid #dadada;
  top: 50%;
  left: 50%;
  margin-left: -225px;
  position: absolute;
  -webkit-box-shadow: 0 0 20px #666;
          box-shadow: 0 0 20px #666;
}

.box .head {
  width: 450px;
  height: 62px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f5f5f5));
  background: linear-gradient(#fff, #f5f5f5);
  border-bottom: 1px solid gray;
}

.box .head .text {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.box .content {
  width: 450px;
  height: 534px;
  border: 0;
}

.box .content .center {
  width: 370px;
  height: 480px;
  top: 30px;
  left: 40px;
  position: relative;
}

.box .content .center .one {
  width: 370px;
  height: 46px;
  border: 1px solid #000;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 3px #666;
          box-shadow: inset 0 0 3px #666;
}

.box .content .center .one .earth {
  width: 46px;
  height: 46px;
  float: left;
  border-right: 1px solid #000;
  background-image: url(../img/dialog-input-icons_ff627ad6dc@2x.png);
  background-size: cover;
  background-position: -197px 0px;
}

.box .content .center .one .country {
  width: 300px;
  height: 40px;
  float: left;
  border: none;
}

.box .content .center .two {
  width: 370px;
  height: 46px;
  border: 1px solid #000;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 3px #666;
          box-shadow: inset 0 0 3px #666;
  margin-top: 16px;
}

.box .content .center .two .tel {
  width: 46px;
  height: 46px;
  float: left;
  border-right: 1px solid #000;
  background-image: url(../img/dialog-input-icons_ff627ad6dc@2x.png);
  background-size: cover;
  background-position: -4px 0px;
}

.box .content .center .two .telphone {
  width: 300px;
  height: 40px;
  float: left;
  border: none;
}

.box .content .center .three {
  width: 370px;
  height: 46px;
  border-radius: 5px;
  margin-top: 16px;
}

.box .content .center .three .cap {
  width: 46px;
  height: 46px;
  float: left;
  border: 1px solid #000;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-image: url(../img/dialog-input-icons_ff627ad6dc@2x.png);
  background-size: cover;
  background-position: -97px 0px;
  -webkit-box-shadow: inset 0 0 3px #666;
          box-shadow: inset 0 0 3px #666;
}

.box .content .center .three .yancap {
  width: 180px;
  height: 43px;
  float: left;
  border: none;
  border: 1px solid #000;
  -webkit-box-shadow: inset 0 0 3px #666;
          box-shadow: inset 0 0 3px #666;
}

.box .content .center .three .btn {
  width: 130px;
  height: 48px;
  border: 1px solid gray;
  border-radius: 5px;
  float: right;
}

.box .content .center .four {
  width: 370px;
  height: 46px;
  border: 1px solid #000;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 3px #666;
          box-shadow: inset 0 0 3px #666;
  margin-top: 16px;
}

.box .content .center .four .pwd {
  width: 46px;
  height: 46px;
  float: left;
  border-right: 1px solid #000;
  background-image: url(../img/dialog-input-icons_ff627ad6dc@2x.png);
  background-size: cover;
  background-position: -48px 0px;
}

.box .content .center .four .password {
  width: 300px;
  height: 40px;
  float: left;
  border: none;
}

.box .content .center .five {
  width: 370px;
  height: 46px;
  border: 1px solid #000;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 3px #666;
          box-shadow: inset 0 0 3px #666;
  margin-top: 16px;
}

.box .content .center .five .repwd {
  width: 46px;
  height: 46px;
  float: left;
  border-right: 1px solid #000;
  background-image: url(../img/dialog-input-icons_ff627ad6dc@2x.png);
  background-size: cover;
  background-position: -4px 0px;
}

.box .content .center .five .repwd-ag {
  width: 300px;
  height: 40px;
  float: left;
  border: none;
}

.box .content .center .down {
  margin-top: 10px;
  font-size: 12px;
}

.box .content .center .down .span {
  font-size: 12px;
}

.box .content .center .down .btn2 {
  width: 368px;
  height: 48px;
  background: -webkit-gradient(linear, left top, left bottom, from(#6383c6), to(#4262af));
  background: linear-gradient(#6383c6, #4262af);
  border-radius: 6px;
  clear: both;
  cursor: pointer;
  height: 46px;
  line-height: 46px;
  margin: 30px 0 12px;
  padding: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.496094) 0 1px 0;
  border: 0;
}

.box .content .center .down .footer {
  width: 370px;
  height: 40px;
  border-top: 1px solid gray;
  font-size: 12px;
}

.box .content .center .down .footer .text {
  text-align: center;
  line-height: 40px;
  margin-left: 80px;
}

.copyright {
  width: 100%;
  clear: both;
  color: #434d55;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  text-align: center;
}

.copyright .clearfix {
  display: inline-block;
  margin: 0 auto;
}

.copyright .h4 {
  clear: both;
  padding: 10px 0 0;
}

.copyright .h4 span {
  color: #5079D9;
}
/*# sourceMappingURL=register.css.map */