body,p,h1,h2,h4,h5,h6,h3,ul,ol,dl,td,dd,input,textarea,option,hr,button,fieldset,legend,figure{margin:0; padding:0;}
a{text-decoration: none; color: #666;}
a:link{color: #666;}
a:hover{color: #333;}
li{list-style: none;}
body{font:14px "YaHei";}
img{vertical-align: top;/*display:block;*/ border: none;}
input,area{outline:none;}
i,em{font-style: normal;}
h1,h2,h4,h5,h6,h3,b,strong{font-weight: normal;}
table{border-collapse: collapse;}
.clear:after{content:"."; display: block; clear: both; height: 0; visibility: hidden;}
.fl{float:left;}
.fr{float:right;}
.border0{border:none!important;background: none!important;}

#boss{
    width: 100%;

}

.nav-global{
    background-image: linear-gradient(90deg,#222325,#3b3c3f,#222325);
    height: 37px;
    
    .nav-logo{
       width: 18px;
       height: 18px;      
       background: url(../img/logo.557a1159a7b50cad819b869ebbe5051a.png);
       background-size: 18px 18px;
       top: 10px;
       left: 20px;
       float: left;
       margin-top: 10px;
    }
    .nav{
        width: 1220px;
        height: 37px;
        margin: 0 auto;
        ul{
            height: 37px;
            clear: both;
            li{
                display: inline;
                float: left;
                padding: 0 20px;
                text-align: center;
                font-weight: 600;
                color: #e5e5e5;
                margin-top: -19px;
                margin-left: 30px;
                a{
                    text-decoration: none;
                }
            }
        }
        
    }
    .right{
        width: 100px;
        height: 37px;
        float: right;
        margin-top: -37px;
        .person{
            width: 50px;
            height: 37px;
            overflow: hidden;
            float: left;
            cursor: pointer;
            img{
                margin-top: 10px;
                margin-left: 15px;
            }
        }
        .cart{
            width: 50px;
            height: 37px;
            float: right;
            overflow: hidden;
            cursor: pointer;
            img{
                margin-top: 10px;
                margin-left: 15px;
            }
        }
    }
}


.sub{
    height: 75px;
    background: skyblue;
    .sub-center{
        width: 1220px;
        height: 75px;
        margin: 0 auto;
        .left{
            width: 610px;
            height: 75px;
            .ul{
                list-style: none;
                .li{
                    display: block;
                    float: left;
                    .a{
                        color:#fff;
                    }
                    .a:hover{
                        color:skyblue;
                    }
                }
            }
        }
    }
}

#myCarousel{
    width: 1220px;
    height: 553px;
    position: relative;
    margin: 0 auto;
    
}
.goods{
    width: 1220px;
    height: 489px;
    margin: 0 auto;
    
    border-radius: 15px;
    clear: both;
    .head{
        width: 1220px;
        height: 61px;
        background: #fafafa;
        color: #666;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        overflow: hidden;
        .left{
            width: 200px;
            height: 61px;
            margin-left: 25px;
            line-height: 61px;
            float: left;
            h5{
              font-size: 18px;
              font-weight: 700;
              line-height: 61px;
            }
        }
        .right{
            float: right;
            height: 61px;
            .zuo{
                width: 24px;
                height: 24px;
                border-radius: 50%;
                margin-top: 50%;
                
            }
            .you{
                width: 24px;
                height: 24px;
                border-radius: 50%;
                margin-top: 50%;
                
            }
        }

    }
    .banner{
        width: 1220px;
        height: 428px;
        cursor: pointer;
        
        
        .one{
            width: 25%;
            height: 428px;
            float: left;
            border: 1px solid #666;
            cursor: pointer;
           
            .top{
                width: 70px;
                height: 20px;
                color: #a06e37;
                background: #fffbdf;
                border-color: #d5b480;                
                text-align: center;
                margin-left: 220px;
                margin-top: 10px;
                font-size: 12px;
                font-weight: 700;
                line-height: 18px;
                border: 1px solid #e6e6e6;
                border-radius: 13px;
                box-shadow: 0 1px 3px 0 rgba(0,0,0,.05);
            }
            .ph{
                display: block;
                width: 216px;
                height: 216px;
                margin: 0 auto;
                padding: 18px 0 20px;
               
                img{
                    width: 216px;
                    height: 216px;
                    
                }
            }
            .text{
                width: 288px;
                height: 16px;
                position: relative;
                top: 10px;
                text-align: center;
                margin: 0 auto;
                h4{
                    line-height: 1.2;
                    font-size: 14px;
                    color: #333;
                    font-weight: 700;
                    overflow: hidden;
                    text-align: center;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            .text2{
                width: 288px;
                height: 16px;
                position: relative;
                top: 10px;
                text-align: center;
                margin: 0 auto;
            }
            .foot{
                font-size: 18px;          
                width: 304px;
                height: 20px;
                color: red;
                margin-top: 50px;
                text-indent: 110px;
               
               
            }
        }
        .one:hover{
            box-shadow: inset 0 0 38px rgba(0,0,0,.08);
        }
    }
}


.goods1{
    width: 1220px;
    height: 917px;
    margin: 0 auto;
    
    margin-top: 20px;
    border-radius: 15px;
    clear: both;
    cursor: pointer;
    .head{
        width: 1220px;
        height: 61px;
        background: #fafafa;
        color: #666;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        overflow: hidden;
        .left{
            width: 200px;
            height: 61px;
            margin-left: 25px;
            line-height: 61px;
            float: left;
            h5{
              font-size: 18px;
              font-weight: 700;
              line-height: 61px;
            }
        }
}
.top{
    width: 1220px;
    height: 428px;
    box-sizing: border-box;
    clear: both;
    overflow: hidden;
    .big{
        width: 50%;
        height: 428px;
        border: 1px solid #666;
        float: left;
        img{
            width: 609px;
            height: 428px;
        }
    }
    .small{
        width: 25%;
        height: 428px;
        border: 1px solid #666;
        float: left;
       
        .block{
            width: 70px;
            height: 20px;
            color: #a06e37;
            background: #fffbdf;
            border-color: #d5b480;                
            text-align: center;
            margin-left: 220px;
            margin-top: 10px;
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
            border: 1px solid #e6e6e6;
            border-radius: 13px;
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.05);
        }
        .ph{
            display: block;
            width: 216px;
            height: 216px;
            margin: 0 auto;
            padding: 18px 0 20px;
           
            img{
                width: 216px;
                height: 216px;
                
            }
        }
        .text{
            width: 288px;
            height: 16px;
            position: relative;
            top: 10px;
            text-align: center;
            margin: 0 auto;
            h4{
                line-height: 1.2;
                font-size: 14px;
                color: #333;
                font-weight: 700;
                overflow: hidden;
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .text2{
            width: 288px;
            height: 16px;
            position: relative;
            top: 10px;
            text-align: center;
            margin: 0 auto;
        }
        .foot{
            font-size: 18px;          
            width: 304px;
            height: 20px;
            color: red;
            margin-top: 50px;
            text-indent: 110px;
           
           
        }
    }
    .small:hover{
        box-shadow: inset 0 0 38px rgba(0,0,0,.08);
    }
}
.down{
    width: 1220px;
    height: 428px;
    box-sizing: border-box;
    clear: both;
    overflow: hidden;
    .small{
        width: 25%;
        height: 428px;
        border: 1px solid #666;
        float: left;
       
        .block{
            width: 70px;
            height: 20px;
            color: #a06e37;
            background: #fffbdf;
            border-color: #d5b480;                
            text-align: center;
            margin-left: 220px;
            margin-top: 10px;
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
            border: 1px solid #e6e6e6;
            border-radius: 13px;
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.05);
        }
        .ph{
            display: block;
            width: 216px;
            height: 216px;
            margin: 0 auto;
            padding: 18px 0 20px;
           
            img{
                width: 216px;
                height: 216px;
                
            }
        }
        .text{
            width: 288px;
            height: 16px;
            position: relative;
            top: 10px;
            text-align: center;
            margin: 0 auto;
            h4{
                line-height: 1.2;
                font-size: 14px;
                color: #333;
                font-weight: 700;
                overflow: hidden;
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .text2{
            width: 288px;
            height: 16px;
            position: relative;
            top: 10px;
            text-align: center;
            margin: 0 auto;
        }
        .foot{
            font-size: 18px;          
            width: 304px;
            height: 20px;
            color: red;
            margin-top: 50px;
            text-indent: 110px;
           
           
        }
    }
    .small:hover{
        box-shadow: inset 0 0 38px rgba(0,0,0,.08);
    }
   
}
}
////////官方配件///////////配件

.goods2{
    width: 1220px;
    height: 917px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 15px;
    clear: both;
    cursor: pointer;
    .head{
        width: 1220px;
        height: 61px;
        background: #fafafa;
        color: #666;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        overflow: hidden;
        .left{
            width: 200px;
            height: 61px;
            margin-left: 25px;
            line-height: 61px;
            float: left;
            h5{
              font-size: 18px;
              font-weight: 700;
              line-height: 61px;
            }
        }
        .right{
            width: 300px;
            height: 61px;
           
            float: right;
            .text{
                width: 150px;
                height: 61px;
                float: left;
                text-align: center;
                line-height: 61px;
                font-weight: 700;
                color:#666;
            }
            .box{
                width: 100px;
                height: 35px;
                float: left;
                text-align: center;
                line-height: 35px;
                font-weight: 700;
                color:#666;
                border: 1px solid #666;
                border-radius: 10px;
                margin-top: 15px;


            }
            a{
                text-decoration: none;
                color: #666;
            }
        }
}
.top{
    width: 1220px;
    height: 428px;
    box-sizing: border-box;
    clear: both;
    overflow: hidden;
    .big{
        width: 50%;
        height: 428px;
        border: 1px solid #666;
        float: left;
        img{
            width: 609px;
            height: 428px;
        }
    }
    .small{
        width: 25%;
        height: 428px;
        border: 1px solid #666;
        float: left;
        
        .block{
            width: 70px;
            height: 20px;
            color: #a06e37;
            background: #fffbdf;
            border-color: #d5b480;                
            text-align: center;
            margin-left: 220px;
            margin-top: 10px;
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
            border: 1px solid #e6e6e6;
            border-radius: 13px;
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.05);
        }
        .ph{
            display: block;
            width: 216px;
            height: 216px;
            margin: 0 auto;
            padding: 18px 0 20px;
           
            img{
                width: 216px;
                height: 216px;
                
            }
        }
        .text{
            width: 288px;
            height: 16px;
            position: relative;
            top: 10px;
            text-align: center;
            margin: 0 auto;
            h4{
                line-height: 1.2;
                font-size: 14px;
                color: #333;
                font-weight: 700;
                overflow: hidden;
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .text2{
            width: 288px;
            height: 16px;
            position: relative;
            top: 10px;
            text-align: center;
            margin: 0 auto;
        }
        .foot{
            font-size: 18px;          
            width: 304px;
            height: 20px;
            color: red;
            margin-top: 50px;
            text-indent: 110px;
           
           
        }
    }
    .small:hover{
        box-shadow: inset 0 0 38px rgba(0,0,0,.08);
    }
}
.down{
    width: 1220px;
    height: 428px;
    box-sizing: border-box;
    clear: both;
    overflow: hidden;
    .small{
        width: 25%;
        height: 428px;
        border: 1px solid #666;
        float: left;
       
        .block{
            width: 70px;
            height: 20px;
            color: #a06e37;
            background: #fffbdf;
            border-color: #d5b480;                
            text-align: center;
            margin-left: 220px;
            margin-top: 10px;
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
            border: 1px solid #e6e6e6;
            border-radius: 13px;
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.05);
        }
        .ph{
            display: block;
            width: 216px;
            height: 216px;
            margin: 0 auto;
            padding: 18px 0 20px;
           
            img{
                width: 216px;
                height: 216px;
                
            }
        }
        .text{
            width: 288px;
            height: 16px;
            position: relative;
            top: 10px;
            text-align: center;
            margin: 0 auto;
            h4{
                line-height: 1.2;
                font-size: 14px;
                color: #333;
                font-weight: 700;
                overflow: hidden;
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .text2{
            width: 288px;
            height: 16px;
            position: relative;
            top: 10px;
            text-align: center;
            margin: 0 auto;
        }
        .foot{
            font-size: 18px;          
            width: 304px;
            height: 20px;
            color: red;
            margin-top: 50px;
            text-indent: 110px;
           
           
        }
    }
    .small:hover{
        box-shadow: inset 0 0 38px rgba(0,0,0,.08);
    }
   
}

}



////////畅呼吸系列产品、、、、、、、、、、、、、、、、、、、、、、、

.goods3{
    width: 1220px;
    height: 489px;
    margin: 0 auto;
    
    margin-top: 20px;
    border-radius: 15px;
    clear: both;
    cursor: pointer;
    .head{
        width: 1220px;
        height: 61px;
        background: #fafafa;
        color: #666;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        overflow: hidden;
        .left{
            width: 200px;
            height: 61px;
            margin-left: 25px;
            line-height: 61px;
            float: left;
            h5{
              font-size: 18px;
              font-weight: 700;
              line-height: 61px;
            }
        }
}
.top{
    width: 1220px;
    height: 428px;
    box-sizing: border-box;
    clear: both;
    overflow: hidden;
    .big{
        width: 50%;
        height: 428px;
        border: 1px solid #666;
        float: left;
        img{
            width: 609px;
            height: 428px;
        }
    }
    .small{
        width: 25%;
        height: 428px;
        border: 1px solid #666;
        float: left;
       
        .block{
            width: 70px;
            height: 20px;
            color: #a06e37;
            background: #fffbdf;
            border-color: #d5b480;                
            text-align: center;
            margin-left: 220px;
            margin-top: 10px;
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
            border: 1px solid #e6e6e6;
            border-radius: 13px;
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.05);
        }
        .ph{
            display: block;
            width: 216px;
            height: 216px;
            margin: 0 auto;
            padding: 18px 0 20px;
           
            img{
                width: 216px;
                height: 216px;
                
            }
        }
        .text{
            width: 288px;
            height: 16px;
            position: relative;
            top: 10px;
            text-align: center;
            margin: 0 auto;
            h4{
                line-height: 1.2;
                font-size: 14px;
                color: #333;
                font-weight: 700;
                overflow: hidden;
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .text2{
            width: 288px;
            height: 16px;
            position: relative;
            top: 10px;
            text-align: center;
            margin: 0 auto;
        }
        .foot{
            font-size: 18px;          
            width: 304px;
            height: 20px;
            color: red;
            margin-top: 50px;
            text-indent: 110px;
           
           
        }
    }
    .small:hover{
        box-shadow: inset 0 0 38px rgba(0,0,0,.08);
    }
}
}



////手机、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、
.goods4{
    width: 1220px;
    height: 917px;
    margin: 0 auto;
    
    margin-top: 20px;
    border-radius: 15px;
    clear: both;
    cursor: pointer;
    .head{
        width: 1220px;
        height: 61px;
        background: #fafafa;
        color: #666;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        overflow: hidden;
        .left{
            width: 200px;
            height: 61px;
            margin-left: 25px;
            line-height: 61px;
            float: left;
            h5{
              font-size: 18px;
              font-weight: 700;
              line-height: 61px;
            }
        }
}
.top{
    width: 1220px;
    height: 428px;
    box-sizing: border-box;
    clear: both;
    overflow: hidden;
    .big{
        width: 50%;
        height: 428px;
        border: 1px solid #666;
        float: left;
        img{
            width: 609px;
            height: 428px;
        }
    }
    .small{
        width: 25%;
        height: 428px;
        border: 1px solid #666;
        float: left;
       
        .block{
            width: 70px;
            height: 20px;
            color: #a06e37;
            background: #fffbdf;
            border-color: #d5b480;                
            text-align: center;
            margin-left: 220px;
            margin-top: 10px;
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
            border: 1px solid #e6e6e6;
            border-radius: 13px;
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.05);
        }
        .ph{
            display: block;
            width: 216px;
            height: 216px;
            margin: 0 auto;
            padding: 18px 0 20px;
           
            img{
                width: 216px;
                height: 216px;
                
            }
        }
        .text{
            width: 288px;
            height: 16px;
            position: relative;
            top: 10px;
            text-align: center;
            margin: 0 auto;
            h4{
                line-height: 1.2;
                font-size: 14px;
                color: #333;
                font-weight: 700;
                overflow: hidden;
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .text2{
            width: 288px;
            height: 16px;
            position: relative;
            top: 10px;
            text-align: center;
            margin: 0 auto;
        }
        .foot{
            font-size: 18px;          
            width: 304px;
            height: 20px;
            color: red;
            margin-top: 50px;
            text-indent: 110px;
           
           
        }
    }
    .small:hover{
        box-shadow: inset 0 0 38px rgba(0,0,0,.08);
    }
}
.down{
    width: 1220px;
    height: 428px;
    box-sizing: border-box;
    clear: both;
    overflow: hidden;
    .small{
        width: 25%;
        height: 428px;
        border: 1px solid #666;
        float: left;
        .block{
            width: 70px;
            height: 20px;
            color: #a06e37;
            background: #fffbdf;
            border-color: #d5b480;                
            text-align: center;
            margin-left: 220px;
            margin-top: 10px;
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
            border: 1px solid #e6e6e6;
            border-radius: 13px;
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.05);
        }
        .ph{
            display: block;
            width: 216px;
            height: 216px;
            margin: 0 auto;
            padding: 18px 0 20px;
           
            img{
                width: 216px;
                height: 216px;
                
            }
        }
        .text{
            width: 288px;
            height: 16px;
            position: relative;
            top: 10px;
            text-align: center;
            margin: 0 auto;
            h4{
                line-height: 1.2;
                font-size: 14px;
                color: #333;
                font-weight: 700;
                overflow: hidden;
                text-align: center;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .text2{
            width: 288px;
            height: 16px;
            position: relative;
            top: 10px;
            text-align: center;
            margin: 0 auto;
        }
        .foot{
            font-size: 18px;          
            width: 304px;
            height: 20px;
            color: red;
            margin-top: 50px;
            text-indent: 110px;
           
           
        }
    }
    .small:hover{
        box-shadow: inset 0 0 38px rgba(0,0,0,.08);
    }
   
}
}



//////////论坛精选//////////////////////////////////////

.goods5{
    width: 1220px;
    height: 367px;
    margin: 0 auto;
    
    margin-top: 20px;
    border-radius: 15px;
    clear: both;
    cursor: pointer;
    .head{
        width: 1220px;
        height: 61px;
        background: #fafafa;
        color: #666;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        overflow: hidden;
        .left{
            width: 200px;
            height: 61px;
            margin-left: 25px;
            line-height: 61px;
            float: left;
            h5{
              font-size: 18px;
              font-weight: 700;
              line-height: 61px;
            }
        }


    }
    .down{
        width: 1220px;
        height: 306px;
        .one{
            width: 25%;
            height: 306px;
            float: left;
            border: 1px solid #666;
            cursor: pointer;
            .ph{
                border-radius: 4px;
                width: 246px;
                height: 138px;
                background: rgba(0,0,0,.1);
                margin:40px 0 0 30px;
                img{
                    width: 246px;
                    height: 138px;
                    border-radius: 4px;
                }
                
            }
            .text1{
                margin-left: 30px;
                h5{
                    font-size: 15px;
                    font-weight: 700;
                    color: #333;
                    line-height: 1;
                }
            }
            .text2{
                margin-left: 30px;
                p{
                    font-size: 12px;
                    font-weight: 400;
                    color: #999;
                    line-height: 18px;
                }
            }
            .text3{
                margin-left: 30px;
                bottom: 30px;
                margin-top: 12px;
                font-size: 12px;
                font-weight: 500;
                color: #5079d9;
            }
        }
        .one:hover{
            box-shadow: inset 0 0 38px rgba(0,0,0,.08);
        }
    }

}



















.redbag{
    width: 189px;
    height: 251px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 111;
    background: url(../img/ee595541711b805cc4d9dcd713aa74da.png);
    background-size: 189px 251px;
    cursor: pointer;
}
.footer{
    height: 440px;
    background: #fff;
    bottom: 0;
    margin-top: 50px;
    border-top: 1px solid gray;
    .center{
        height: 440px;
        width: 1220px;
        margin: 0 auto;
        .top{
            width: 1220px;
            height: 224px;
            overflow: hidden;
            margin-top: 50px;
            .box1{
                width: 174px;
                float: left;
                h3{
                    color: #646464;
                    font-weight: 700;
                    font-size: 12px;
                    padding: 0 0 20px;
                }
                a{
                    font-size: 12px;
                }
            }
            .box2{
                width: 174px;
                float: left;
                h3{
                    color: #646464;
                    font-weight: 700;
                    font-size: 12px;
                    padding: 0 0 20px;
                
                }
                a{
                    font-size: 12px;
                }
            }
            .box3{
                width: 174px;
                float: left;
                h3{
                    color: #646464;
                    font-weight: 700;
                    font-size: 12px;
                    padding: 0 0 20px;
                
                }
                a{
                    font-size: 12px;
                }
            }
            .box4{
                width: 174px;
                float: left;
                h3{
                    color: #646464;
                    font-weight: 700;
                    font-size: 12px;
                    padding: 0 0 20px;
                }
                a{
                    font-size: 12px;
                }
            }
            .box5{
                width: 196px;
                float: right;
                .head{
                    font-size: 24px;
                    text-indent: 19px;
                }
                .text1{
                    text-indent: 67px;
                    font-size: 12px;
                }
                .text2{
                    text-indent: 128px;
                    font-size: 12px;
                }
                .help{
                    width: 130px;
                    height: 30px;
                    background: #f5f5f5;
                    border: 1px solid gray;
                    border-radius: 3px;
                    line-height: 30px;
                    text-align: center;
                    float: right;
                }
            }
        }
        .down{
            width: 1220px;
            height: 130px;
            border-top: 1px solid gray;
            p{
                margin-top: 50px;
                font-size: 12px;
                font-weight: 400;
                color: #bdbdbd;
            }
        }
        
    }
}
